<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>In detail</title>
  </head>
  <body>
    <h1>Here is your content in detail!</h1>
    <h2>Id : <%= post.id %></h2>
    <h3>Username : <%= post.username %></h3>
    <h3>Content : <%= post.content %></h3>
  </body>
</html>
